body{
    margin:0;
    
   
}



nav{
    margin:0;
}


ul{
    list-style-type:none;
    padding:20px;
    margin:0;
    background-color:black;
    text-align:center;
}

li{
    display:inline; /*menu in row*/
    font-size:1.5em;
    font-family:Arial;
    
}

li a{
    text-decoration:none;
    color:lightgrey;
    padding:20px 40px;
}

li a:hover{
    background-color:grey;
}