body {
    background: linear-gradient(#e66465, #9198e5);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 1800px 800px;
}

header {
    background-color: black;
    position: relative;
    bottom: 30px;
}

nav {
    background-color: rgba(46, 43, 43, 0.979);
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    border-radius: 3px;
}

h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 50px;
}

h1 img {
    height: 70px;
    width: 70px;
    position: relative;
    top: 20px;
}

a {
    text-decoration: none;
    color: azure;
    padding: 2px 6px 2px 6px;
    border-radius: 2px;
}

.link:hover {
    color: rgba(230, 245, 100, 0.979);
}

footer {
    text-align: center;
    margin-top: auto;
    background-color: black;
    color: whitesmoke;
    padding: 15px;
}